body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 600px;
    z-index: -1;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.705), rgb(188, 209, 233));
}

h1 {
    font-family: 'Limelight', cursive;
    text-align: center;
    color: rgba(255, 16, 16, 0.897);
}

button {
    padding: 10px;
    display: flex;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    background-color: rgb(245, 148, 2);
    cursor: pointer;
    border: none;
    border-radius: 30px;
    box-shadow: 1px 1px 5px 1px forestgreen;
    margin: auto;
}

button:focus {
    outline: gainsboro;
}

button:hover {
    background-color: rgb(255, 153, 0);
    color: rgb(11, 218, 255);
}

button:active {
    box-shadow: none;
}

.btn-group button {
    background-color: #d0d319;
    /* Green background */
    border: 1px solid green;
    /* Green border */
    color: white;
    /* White text */
    padding: 10px 24px;
    /* Some padding */
    cursor: pointer;
    /* Pointer/hand icon */
    float: left;
    /* Float the buttons side by side */
}

/* Clear floats (clearfix hack) */

.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group button:not(:last-child) {
    border-right: none;
    /* Prevent double borders */
}

/* Add a background color on hover */

.btn-group button:hover {
    background-color: #3e8e41;
}

@media screen and (max-width: 500px) {
    body {
        width: 100%;
    }
}