body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 600px;
    z-index: -1;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.705), rgb(216, 233, 188));
}

h1 {
    font-family: 'Limelight', cursive;
    text-align: center;
    color: rgba(8, 90, 0, 0.897);
}


@media screen and (max-width: 500px) {
    body {
        width: 100%;
    }
}