body{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 600px;
    z-index: -1;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(94, 140, 172));
    background-attachment: scroll;
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    background-image: url(image2.gif);
     }

h1 {
    padding-top: 1%;
    font-family: 'Limelight', cursive;
    text-align: center;
    color: rgba(255, 90, 14, 0.897);
}

ul {
    font-family: 'Oswald', sans-serif;
    padding-right: 2%;
    color: rgb(214, 19, 198);
    font-weight: bold;
}

button {
    padding: 10px;
    display: flex;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    background-color: rgb(245, 2, 192);
    cursor: pointer;
    border: none;
    border-radius: 30px;
    box-shadow: 1px 1px 5px 1px forestgreen;
    margin: auto;
}

button:focus {
    outline: gainsboro;
}

button:hover {
    background-color: rgb(255, 153, 0);
    color: rgb(11, 218, 255);
}

button:active {
    box-shadow: none;
}

@media screen and (max-width: 500px) {
    body {
        width: 100%;
    }
}