
body{
    background-color: rgb(223, 211, 211);
}
p {
    border: 5px outset rgb(178, 214, 148);   
    text-align: center;
    color: rgb(253, 253, 253);
    background-color: white;
  }
  h1{
      text-align: center;
      font-family: 'Times New Roman', Times, serif;
      
  }
  button{
      font-family: 'Times New Roman', Times, serif;
      font-weight: bold;
      background-color: aqua;
      border: 3px solid green; 
      padding: 15px 32px;
      text-align: center;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 12px;
      position: relative;
      left: 45%;
      top:50%;
  }